body{
	background: url(../groupbuy_images/bg@2x.png) no-repeat center center;
	background-size: 100% 100%;
	background-attachment: fixed; /*背景图片不随滚动条滚动*/
}
/*发起团购按钮*/
#top{
	text-align: center;
	color: #fff;
}
#top .topTitle{
	margin-top:50%;
}
#top .top{
	margin:10px 0px 12px 0px;
}
#top .top>a{
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #D3AD66;
	color: #fff;
	border-radius: 5px;
}
/*参团商品*/
#main .killshop{
	width: 100%;
	min-height: 110px;
	background-color: #fff;
	margin-bottom:10px;
	overflow: hidden;
}
.killshop>img:first-child{
	width: 110px;
	height: 110px;
	vertical-align: middle;
	float: left;
	margin-right:7px;
}
.killshop .shopIntro>p:first-child{
	color: #000;
	margin-top: 3px;
	height: 34px;
	overflow: hidden;
}
.killshop .shopIntro .gorob{
	margin-top: 25px;
	position: relative;
	line-height: 22px;
	/*margin-bottom: 5px;*/
}
.killshop .shopIntro .gorob>span:first-child{
	font-size: 13px;
}
.killshop .shopIntro .gorob>span:last-child{
	display: inline-block;
	width: 60px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	background-color: #CFCFCF;
	color:#fff;
	border-radius: 5px;
	position: absolute;
	right: 6px;
}
.killshop .shopIntro .sellDetail{
	position: relative;
}
.killshop .shopIntro .sellDetail>span:first-child{
	color:#999;
	font-size: 12px;
	text-decoration: line-through;
}
.killshop .shopIntro .sellDetail>span:last-child{
	display: block;
	width: 62px;
	height: 5px;
	border:1px solid #E9C390;
	border-radius: 5px;
	position: absolute;
	right: 5px;
	bottom: 5px;
}
.killshop .shopIntro .sellDetail .havesell{
	position: absolute;
	right: 76px;
}
.killshop .shopIntro .sellDetail .process{
	display: block;
	width: 40px;
	height: 5px;
	background-color: #E9C390;
	border-radius: 5px;
}