div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}
div>span{
	color: #4d4d4d;
	font-size: 12px;
	margin-left: 8px;
	display: inline-block;
	width: 48px;
	margin-right: 4px;
}
div>input{
	vertical-align: middle;
	outline: none;
	width: 74%;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	border: 0px;
}
.detailAddress{
	height: 130px;
	border-bottom:0px;
}
.detailAddress>textarea{
	width: 74%;
	height: 110px;
	vertical-align: top;
	/*resize: none;*/
	outline: none;
	vertical-align: middle;
	margin-top: 8px;
	border-color: #ccc;
	/*border: 0px;*/
}
.keep{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	background-color: #D3AC65;
	margin-top: 12px;
}